<script src="https://ws.n2o.dev/priv/utf8.js"></script>
<script src="https://ws.n2o.dev/priv/bert.js"></script>
<script src="https://ws.n2o.dev/priv/heart.js"></script>
<script src="https://ws.n2o.dev/priv/ieee754.js"></script>
<script src="https://ws.n2o.dev/priv/n2o.js"></script>
<script src="https://nitro.n2o.dev/priv/js/calendar.js"></script>
<script src="https://nitro.n2o.dev/priv/js/validation.js"></script>
<script src="https://nitro.n2o.dev/priv/js/comboLookup.js"></script>
<script src="https://nitro.n2o.dev/priv/js/nitro.js"></script>
<script>host = location.hostname; port = 8001; debug = true;</script>
<script></script>
<script>
  protos = [$bert];
  N2O_start();
  setTimeout(() => {
    direct(atom("koatuu"));
    direct(atom("textarea"));
  }, 200);
</script>